<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="https://github.com/phuoc-ng/csslayout">
    <!--테스트 용-->
    <title>HOME</title>
</head>

<body>
    <div class="wrap">
        <header>
            <small>로그인 | 회원가입</small>
            <p class="logo_a">
                <a href="/" >K 마트</a>
            </p>
        </header>
        <container>
            <div class="cards">
                <div class="card">
                    <div class="in_card">
                        <div class="card_cover">

                        </div>
                        <div class="card_content">

                        </div>
                    </div>
                </div>
            </div>
        </container>
    </div>
</body>

</html>